<!DOCTYPE html>

{%load staticfiles%}
<html>

<head>
	<meta charset="utf-8">
	<title>TechDendron India Private Limited | Home</title>
	<!-- Stylesheets -->

	<!-- <link rel="stylesheet" href="{%static "css/blog2.css"  %}"> -->

	<link rel="stylesheet" href="{%static "css/bootstrap.css" %}"  >

 	<link rel="stylesheet" href="{%static "css/style.css" %}" >
	<link rel="stylesheet" href="{%static "css/slick.css" %}" >
	<link  rel="stylesheet" href="{%static "css/responsive.css" %}">
	<link rel="shortcut icon" href="{%static "images/favicon.png" %}" type="image/x-icon">
	<link rel="icon" href="{%static "images/favicon.png" %}" type="image/x-icon">

	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>

	<div class="page-wrapper">

		<!-- Preloader -->
		<div class="preloader"></div>

		<!-- Main Header-->
		<header class="main-header">

			<!--Header Top Two-->
			<div class="header-top">
				<div class="auto-container">
					<div class="clearfix">
						<!--Top Left-->
						<div class="top-left">
							<ul class="header-info-list">
								<li><span class="icon fa fa-envelope"></span>
									<strong>Email</strong>support@techdendron.com</li>
								<li><span class="icon fa fa-map-marker"></span><strong>Location</strong> Lorem ipsum
									dolor sit amet, AB 121212</li>
							</ul>
						</div>
						<!--Top Right-->
						<div class="top-right">
							<!--Social Box-->
							<ul class="social-box">
								<li class="share">Connect With Us</li>
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!--Header-Upper-->
			<div class="header-upper">
				<div class="auto-container">
					<div class="clearfix">

						<div class="pull-left logo-box">
							<div class="logo"><a href="index.html"><img src="{%static "images/logo.png" %}" style="height: 50px;"
										alt="" title=""></a></div>
						</div>

						<div class="nav-outer clearfix">

							<!-- Main Menu -->
							<nav class="main-menu navbar-expand-md">
								<div class="navbar-header">
									<button class="navbar-toggler" type="button" data-toggle="collapse"
										data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
										aria-expanded="false" aria-label="Toggle navigation">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>

								<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
									<ul class="navigation clearfix">
										<li class="current"><a href="#">Home</a>

										</li>
										<li><a href="#">About us</a></li>

										<li class="dropdown"><a href="#">What We Do</a>
											<ul>
												<li><a href="#">Mobile Application</a></li>
												<li><a href="#">Website Designing</a></li>
												<li><a href="#">iOS App Development</a></li>
												<li><a href="#">Android App Development</a></li>
												<li><a href="#">Hybrid App Development</a></li>
												<li><a href="#">Digital Marketing</a></li>
												<li><a href="#">Graphic Design</a></li>
											</ul>
										</li>
										<li><a href="#">Portfolio</a>


										</li>
										<li><a href="#">Blog</a>

										</li>
									</ul>
								</div>

							</nav>

							<!--Support Box-->
							<div class="support-box">
								<div class="support">For Support Call <span class="icon fa fa-headphones"></span></div>
								<div class="support-number">000-000-0000</div>
							</div>

							<!--Search Box Outer-->
							<div class="search-box-outer">
								<div class="dropdown">
									<button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
											class="fa fa-search"></span></button>
									<ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
										<li class="panel-outer">
											<div class="form-container">
												<form method="post" action="blogindex.html">
													<div class="form-group">
														<input type="search" name="field-name" value=""
															placeholder="Search Here" required>
														<button type="submit" class="search-btn"><span
																class="fa fa-search"></span></button>
													</div>
												</form>
											</div>
										</li>
									</ul>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
			<!--End Header Upper-->

			<!--Sticky Header-->
			<div class="sticky-header">
				<div class="auto-container clearfix">
					<!--Logo-->
					<div class="logo pull-left">
						<a href="index.html" class="img-responsive"><img src="{%static "images/logo.png" %}" style="height: 50px;"
								alt="" title=""></a>
					</div>

					<!--Right Col-->
					<div class="right-col pull-right">
						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-md">
							<button class="navbar-toggler" type="button" data-toggle="collapse"
								data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>

							<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
								<ul class="navigation clearfix">
									<li class="current "><a href="#">Home</a>

									</li>
									<li><a href="#">About us</a></li>

									<li class="dropdown"><a href="#">What We Do</a>
										<ul>
											<li><a href="#">Mobile Application</a></li>
											<li><a href="#">Website Designing</a></li>
											<li><a href="#">iOS App Development</a></li>
											<li><a href="#">Android App Development</a></li>
											<li><a href="#">Hybrid App Development</a></li>
											<li><a href="#">Digital Marketing</a></li>
											<li><a href="#">Graphic Design</a></li>
										</ul>
									</li>
									<li><a href="#">Portfolio</a>


									</li>
									<li><a href="#">Blog</a>

									</li>
								</ul>
							</div>
						</nav><!-- Main Menu End-->
					</div>

				</div>
			</div>
			<!--End Sticky Header-->

		</header>
		<!--End Main Header -->
		<section class="main-slider">

			<div class="main-slider-carousel owl-carousel owl-theme">

				<div class="slide" style="background-image:url( {%static "images/main-slider/image-7.jpg" %} ) ">
					<div class="auto-container">
						<div class="content centered">
							<h3 class="style-three">Get The Success You Need</h3>
							<h2 class="style-three">Become More Effective</h2>
							<div class="text">We are working with thousands of business companies around <br> the world
								& delivering ideas for your business</div>
							<div class="link-box">
								<a href="#" class="theme-btn btn-style-five">Learn More</a> <a href="#"
									class="theme-btn btn-style-six">Our Services</a>
							</div>
						</div>
					</div>
				</div>

				<div class="slide" style="background-image:url( {%static "images\main-slider\image-6.jpg" %} )">
					<div class="auto-container">
						<div class="content centered">
							<h3 class="style-three">Get The Success You Need</h3>
							<h2 class="style-two">Engineered your Business <br> taking to next level</h2>
							<div class="link-box">
								<a href="#" class="theme-btn btn-style-five">Read More</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

		<!--Business Section-->
		<section class="business-section">
			<div class="auto-container">
				<div class="row clearfix">

					<!--Title Column-->
					<div class="title-column col-lg-5 col-md-12 col-sm-12">
						<div class="inner-column">
							<!--Sec Title-->
							<div class="sec-title">
								<h2>TechDendron allows you Manage & Grow <span class="theme_color">Your Business</span>
								</h2>
								<div class="title-text">Automate & Simplify The Whole Process</div>
							</div>
							<a href="#" class="theme-btn we-do">how we do it</a>
						</div>
					</div>

					<!--Content Column-->
					<div class="content-column col-lg-7 col-md-12 col-sm-12">
						<div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="row clearfix">

								<!--Feature Block-->
								<div class="feature-block col-lg-6 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="icon-box">
											<span class="icon flaticon-path"></span>
										</div>
										<h3><a href="index.html">Website Designing</a></h3>
										<div class="text">Acepteur sintas haecat sed cupidatat non dui proident sunt
											culpa qui officia sed ipsum tempor eserunt.</div>
									</div>
								</div>

								<!--Feature Block-->
								<div class="feature-block col-lg-6 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="icon-box">
											<span class="icon flaticon-line-graph"></span>
										</div>
										<h3><a href="index.html">Mobile Application</a></h3>
										<div class="text">Acepteur sintas haecat sed cupidatat non dui proident sunt
											culpa qui officia sed ipsum tempor eserunt.</div>
									</div>
								</div>

								<!--Feature Block-->
								<div class="feature-block col-lg-6 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="icon-box">
											<span class="icon flaticon-handshake"></span>
										</div>
										<h3><a href="index.html">Digital Marketing</a></h3>
										<div class="text">Acepteur sintas haecat sed cupidatat non dui proident sunt
											culpa qui officia sed ipsum tempor eserunt.</div>
									</div>
								</div>

								<!--Feature Block-->
								<div class="feature-block col-lg-6 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="icon-box">
											<span class="icon flaticon-speaker"></span>
										</div>
										<h3><a href="index.html">Graphic Designing</a></h3>
										<div class="text">Acepteur sintas haecat sed cupidatat non dui proident sunt
											culpa qui officia sed ipsum tempor eserunt.</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!--End Business Section-->
		<section class="about-section">
			<div class="auto-container">
				<div class="row clearfix">

					<!--Title Column-->
					<div class="title-column col-lg-5 col-md-12 col-sm-12">
						<div class="inner-column">
							<!--Sec Title-->
							<div class="sec-title">
								<h2>About TechDendron</h2>
								<div class="title-text">Automate & Simplify The Whole Process</div>
							</div>
							<div class="text">Duis aute irure dolor reprehenderit in voluptate velit essle cillum dolore
								eu fugiat nulla pariatur. Excepteur sint ocaec at cupdatat proident suntin culpa qui
								officia deserunt mol anim id esa laborum perspiciatis omnis.</div>
							<a href="#" class="theme-btn btn-style-five">Who We Are</a>
						</div>
					</div>

					<!--Video Column-->
					<div class="video-column col-lg-7 col-md-12 col-sm-12">
						<div class="inner-column wow fadeInRight" data-wow-delay="600ms" data-wow-duration="1500ms">

							<!--Video Box-->
							<div class="video-box">
								<figure class="image">
									<img src="{%static "images/resource/video-img.jpg" %}" alt="">
								</figure>

							</div>

						</div>
					</div>

				</div>
			</div>
		</section>


		<section class="case-section">
			<div class="auto-container">
				<!--Sec Title-->
				<div class="sec-title centered">
					<h2>Our Latest Projects</h2>
					<div class="title-text">Automate & Simplify The Whole Process</div>
				</div>
			</div>
			<div class="four-item-carousel owl-carousel owl-theme">

				<!--Case Block-->
				<div class="case-block">
					<div class="inner-box">
						<div class="image">
							<img src= "{%static "images/resource/case-1.jpg" %}" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<div class="text">Lorem ipsum dolor sit amet adipisicing elit sed eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Utna enim ad minim veniam quis
											nostrud exercitation ulamco laboris nisi aliquip exea comm ayodo consequat.
											Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
											deserunt mollit anim.</div>
										<a href="#" class="read-more"><span class="fa fa-angle-right"></span> Read
											More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="lower-box">
							<div class="category">case study - strategies</div>
							<h3><a href="#">Global Business Managment Tracking Apps</a></h3>
						</div>
					</div>
				</div>

				<!--Case Block-->
				<div class="case-block">
					<div class="inner-box">
						<div class="image">
							<img src="{%static "images/resource/case-2.jpg" %}" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<div class="text">Lorem ipsum dolor sit amet adipisicing elit sed eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Utna enim ad minim veniam quis
											nostrud exercitation ulamco laboris nisi aliquip exea comm ayodo consequat.
											Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
											deserunt mollit anim.</div>
										<a href="#" class="read-more"><span class="fa fa-angle-right"></span> Read
											More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="lower-box">
							<div class="category">case study - managment</div>
							<h3><a href="#">Business & Planning With Task Completion</a></h3>
						</div>
					</div>
				</div>

				<!--Case Block-->
				<div class="case-block">
					<div class="inner-box">
						<div class="image">
							<img src="{%static "images/resource/case-3.jpg" %}" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<div class="text">Lorem ipsum dolor sit amet adipisicing elit sed eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Utna enim ad minim veniam quis
											nostrud exercitation ulamco laboris nisi aliquip exea comm ayodo consequat.
											Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
											deserunt mollit anim.</div>
										<a href="#" class="read-more"><span class="fa fa-angle-right"></span> Read
											More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="lower-box">
							<div class="category">case study - corporate</div>
							<h3><a href="index.html">Business & Planning With Task Completion</a></h3>
						</div>
					</div>
				</div>

				<!--Case Block-->
				<div class="case-block">
					<div class="inner-box">
						<div class="image">
							<img src="{%static "images/resource/case-4.jpg" %}" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<div class="text">Lorem ipsum dolor sit amet adipisicing elit sed eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Utna enim ad minim veniam quis
											nostrud exercitation ulamco laboris nisi aliquip exea comm ayodo consequat.
											Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
											deserunt mollit anim.</div>
										<a href="index.html" class="read-more"><span class="fa fa-angle-right"></span>
											Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="lower-box">
							<div class="category">case study - financial</div>
							<h3><a href="index.html">Full Training & Workshop Inventory System</a></h3>
						</div>
					</div>
				</div>

				<!--Case Block-->
				<div class="case-block">
					<div class="inner-box">
						<div class="image">
							<img src="{%static "images/resource/case-1.jpg" %}" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<div class="text">Lorem ipsum dolor sit amet adipisicing elit sed eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Utna enim ad minim veniam quis
											nostrud exercitation ulamco laboris nisi aliquip exea comm ayodo consequat.
											Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
											deserunt mollit anim.</div>
										<a href="index.html" class="read-more"><span class="fa fa-angle-right"></span>
											Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="lower-box">
							<div class="category">case study - strategies</div>
							<h3><a href="index.html">Global Business Managment Tracking Apps</a></h3>
						</div>
					</div>
				</div>

				<!--Case Block-->
				<div class="case-block">
					<div class="inner-box">
						<div class="image">
							<img src="{%static "images/resource/case-2.jpg" %}" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<div class="text">Lorem ipsum dolor sit amet adipisicing elit sed eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Utna enim ad minim veniam quis
											nostrud exercitation ulamco laboris nisi aliquip exea comm ayodo consequat.
											Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
											deserunt mollit anim.</div>
										<a href="index.html" class="read-more"><span class="fa fa-angle-right"></span>
											Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="lower-box">
							<div class="category">case study - managment</div>
							<h3><a href="index.html">Business & Planning With Task Completion</a></h3>
						</div>
					</div>
				</div>

				<!--Case Block-->
				<div class="case-block">
					<div class="inner-box">
						<div class="image">
							<img src="{%static "images/resource/case-3.jpg" %}" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<div class="text">Lorem ipsum dolor sit amet adipisicing elit sed eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Utna enim ad minim veniam quis
											nostrud exercitation ulamco laboris nisi aliquip exea comm ayodo consequat.
											Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
											deserunt mollit anim.</div>
										<a href="index.html" class="read-more"><span class="fa fa-angle-right"></span>
											Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="lower-box">
							<div class="category">case study - corporate</div>
							<h3><a href="index.html">Business & Planning With Task Completion</a></h3>
						</div>
					</div>
				</div>

				<!--Case Block-->
				<div class="case-block">
					<div class="inner-box">
						<div class="image">
							<img src="{%static "images/resource/case-4.jpg" %}" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<div class="text">Lorem ipsum dolor sit amet adipisicing elit sed eiusmod tempor
											incididunt ut labore et dolore magna aliqua. Utna enim ad minim veniam quis
											nostrud exercitation ulamco laboris nisi aliquip exea comm ayodo consequat.
											Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
											deserunt mollit anim.</div>
										<a href="index.html" class="read-more"><span class="fa fa-angle-right"></span>
											Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="lower-box">
							<div class="category">case study - financial</div>
							<h3><a href="index.html">Full Training & Workshop Inventory System</a></h3>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!--End Case Section-->

		<!--Call To Action Section-->
		<section class="call-to-action-two" style="background-image: url(images/background/3.jpg)">
			<div class="auto-container">
				<h2>We know the primary objective of business, <br> To grow more & make it profitable</h2>
				<div class="text">Eiusmod tempor incididunt ut labore et dolore magna aliqua utna enim ad minim veniam
					quis <br> nostrud exercitation ulamco laboris nisi aliquip exea commodo consequat. </div>
				<a href="index.html" class="theme-btn btn-style-five">Get In Touch</a>
			</div>
		</section>
		<!--End Call To Action Section-->

		<section class="consulting-section alternate">
			<div class="auto-container">
				<!--Sec Title-->
				<div class="sec-title centered">
					<h2>Special Consulting</h2>
					<div class="title-text">Automate & Simplify The Whole Process</div>
				</div>
				<div class="single-item-carousel owl-carousel owl-theme">

					<!--Consult Block-->
					<div class="consult-block alternate">
						<div class="inner-box">
							<div class="clearfix">
								<!--Image Column-->
								<div class="image-column col-lg-6 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="image">
											<img src="{%static "images/resource/consult.jpg" %}" alt="" />
										</div>
									</div>
								</div>
								<!--Content Column-->
								<div class="content-column col-lg-6 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="title">firstStep</div>
										<h3>Boosting Effectiveness</h3>
										<div class="text">Tempor incididunt ut labore et dolore magna aliqua. Utna enim
											ad minim veniam quis nostrud exercitation ulamco laboris nisi aliquip exea
											consequat. </div>
										<ul class="list-style-two">
											<li>Acepteur sintas haecate sed ipsums cupidates bondus</li>
											<li>Proident sunlt culpa qui tempore officia sed ipsum tempor</li>
											<li>Cupidatat non proident sunt in culpa qui officia deserunt</li>
											<li>Mollit anim id est laborum ged ut perspiciatis unde</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--Consult Block-->
					<div class="consult-block alternate">
						<div class="inner-box">
							<div class="clearfix">
								<!--Image Column-->
								<div class="image-column col-lg-6 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="image">
											<img src="{%static "images/resource/consult.jpg"%}" alt="" />
										</div>
									</div>
								</div>
								<!--Content Column-->
								<div class="content-column col-lg-6 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="title">secondStep</div>
										<h3>Boosting Effectiveness</h3>
										<div class="text">Tempor incididunt ut labore et dolore magna aliqua. Utna enim
											ad minim veniam quis nostrud exercitation ulamco laboris nisi aliquip exea
											consequat. </div>
										<ul class="list-style-two">
											<li>Acepteur sintas haecate sed ipsums cupidates bondus</li>
											<li>Proident sunlt culpa qui tempore officia sed ipsum tempor</li>
											<li>Cupidatat non proident sunt in culpa qui officia deserunt</li>
											<li>Mollit anim id est laborum ged ut perspiciatis unde</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--Consult Block-->
					<div class="consult-block alternate">
						<div class="inner-box">
							<div class="clearfix">
								<!--Image Column-->
								<div class="image-column col-lg-6 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="image">
											<img src="{%static "images/resource/consult.jpg" %}" alt="" />
										</div>
									</div>
								</div>
								<!--Content Column-->
								<div class="content-column col-lg-6 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="title">ThirdStep</div>
										<h3>Boosting Effectiveness</h3>
										<div class="text">Tempor incididunt ut labore et dolore magna aliqua. Utna enim
											ad minim veniam quis nostrud exercitation ulamco laboris nisi aliquip exea
											consequat. </div>
										<ul class="list-style-two">
											<li>Acepteur sintas haecate sed ipsums cupidates bondus</li>
											<li>Proident sunlt culpa qui tempore officia sed ipsum tempor</li>
											<li>Cupidatat non proident sunt in culpa qui officia deserunt</li>
											<li>Mollit anim id est laborum ged ut perspiciatis unde</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>


		<!--Fluid Section Three-->
		<section class="fluid-section-three">
			<div class="outer-box clearfix">

				<!--Content Column-->
				<div class="left-column">
					<div class="inner-column">
						<div class="sec-title">
							<h2>Effective Business <br> Coaching Solutions</h2>
						</div>

						<!--Featured Block Two-->
						<div class="feature-block-two">
							<div class="inner-box">
								<h3><a href="#">The Leadership Ideas</a></h3>
								<div class="text">Excepteur sint ocaec at cupdatat proident suntin culpa qui officia
									eserunt mol anim id esa laborum perspiciatis omnis.</div>
							</div>
						</div>

						<!--Featured Block Two-->
						<div class="feature-block-two">
							<div class="inner-box">
								<h3><a href="#">Transform Yourself</a></h3>
								<div class="text">Excepteur sint ocaec at cupdatat proident suntin culpa qui officia
									eserunt mol anim id esa laborum perspiciatis omnis.</div>
							</div>
						</div>
						<div class="btn-box">
							<a href="#" class="theme-btn btn-style-five">View Our Programs</a>
						</div>
					</div>
				</div>

				<!--Right Column-->
				<div class="right-column" style="background-image: url(images/background/2.jpg)">
					<div class="inner-column">
						<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image play-btn">
							<span class="icon flaticon-arrow"></span>
						</a>
						<h2>Track Your <span class="theme_color">Success</span></h2>
						<div class="title">Automate & Simplify The Whole Process</div>
						<div class="text">Pate velit essle duis irue dolor repa enderitn dolor fugiat pariaturs Excepeur
							sintusa ocae cupdat proident suntin culpa officia deserunt laborums perspiciat aute. Lorem
							ipsum dolor sit amet, consectetur elit sed dore eiusmod tempor incididunt.</div>
						<a href="#" class="theme-btn btn-style-five">Discover All Features</a>
					</div>
				</div>

			</div>
		</section>
		<!--End Fluid Section Three-->



		<!--Testimonial Section Two-->
		<section class="testimonial-section-two">
			<div class="auto-container">
				<!--Sec Title-->
				<div class="sec-title centered">
					<h2>Our Clients Reviews</h2>
					<div class="title-text">Automate & Simplify The Whole Process</div>
				</div>

				<div class="single-item-carousel owl-carousel owl-theme">

					<!--Testimonial Block Three-->
					<div class="testimonial-block-three">
						<div class="inner-box">
							<div class="image">
								<img src="{%static "images/resource/author-2.jpg" %}" alt="" />
							</div>
							<div class="text">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comod duis
								aute irure dolor reprehenderit voluptate velit esse cillum dolore fugiat ipsum nulla
								pariatur eaxcepteur sint occaecat cupidatat non proident sunt in culpa qui officia. enim
								ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</div>
							<div class="author">Camron White</div>
						</div>
					</div>

					<!--Testimonial Block Three-->
					<div class="testimonial-block-three">
						<div class="inner-box">
							<div class="image">
								<img src="{%static "images/resource/author-2.jpg" %}" alt="" />
							</div>
							<div class="text">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comod duis
								aute irure dolor reprehenderit voluptate velit esse cillum dolore fugiat ipsum nulla
								pariatur eaxcepteur sint occaecat cupidatat non proident sunt in culpa qui officia. enim
								ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</div>
							<div class="author">Camron White</div>
						</div>
					</div>

					<!--Testimonial Block Three-->
					<div class="testimonial-block-three">
						<div class="inner-box">
							<div class="image">
								<img src="{%static "images/resource/author-2.jpg" %}" alt="" />
							</div>
							<div class="text">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comod duis
								aute irure dolor reprehenderit voluptate velit esse cillum dolore fugiat ipsum nulla
								pariatur eaxcepteur sint occaecat cupidatat non proident sunt in culpa qui officia. enim
								ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</div>
							<div class="author">Camron White</div>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!--End Testimonial Section Two-->



		<!--Main Footer-->
		<footer class="main-footer">
			<div class="auto-container">
				<!--Widgets Section-->
				<div class="widgets-section">
					<div class="row clearfix">

						<!--Column-->
						<div class="big-column col-lg-6 col-md-12 col-sm-12">
							<div class="row clearfix">

								<!--Footer Column-->
								<div class="footer-column col-lg-6 col-md-6 col-sm-12">
									<div class="footer-widget logo-widget">
										<div class="logo">
											<a href="index.html"><img src="{%static "images/logo.png" %}" style="height: 50px;"
													alt="" /></a>
										</div>
										<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
										<ul class="list-style-one">
											<li><span>Phone:</span> 000-000-0000</li>
											<li><span>Email:</span> abc@abc.com </li>
											<li><span>Working Hours:</span> Mon - Fri: 9am - 6pm</li>
										</ul>
										<!--Social Icon One-->
										<ul class="social-icon-one">
											<li><a href="#"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
											<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
											<li><a href="#"><span class="fa fa-twitter"></span></a></li>
										</ul>
									</div>
								</div>

								<!--Footer Column-->
								<div class="footer-column col-lg-6 col-md-6 col-sm-12">
									<div class="footer-widget links-widget">
										<h2>Quick Links</h2>
										<ul class="footer-link">
											<li><a href="#">About Us</a></li>
											<li><a href="#">Portfolio</a></li>
											<li><a href="#">Testimonials</a></li>
											<li><a href="#">Our Projects</a></li>
											<li><a href="#">Why Us</a></li>
											<li><a href="#">Privacy Policy</a></li>
											<li><a href="#">Contact Us</a></li>
										</ul>
									</div>
								</div>

							</div>
						</div>

						<!--Column-->
						<div class="big-column col-lg-6 col-md-12 col-sm-12">
							<div class="row clearfix">

								<!--Footer Column-->
								<div class="footer-column col-lg-6 col-md-6 col-sm-12">
									<div class="footer-widget posts-widget">
										<h2>What We Do</h2>
										<ul class="footer-link">
											<li><a href="#">Mobile Application</a></li>
											<li><a href="#">Website Designing</a></li>
											<li><a href="#">Digital Marketing</a></li>
											<li><a href="#">Graphic Design</a></li>
										</ul>


									</div>
								</div>

								<!--Footer Column-->
								<div class="footer-column col-lg-6 col-md-6 col-sm-12">
									<div class="footer-widget newsletter-widget">
										<h2>Our Newsletter</h2>
										<div class="text">Get in your inbox the latest News and Offers from TechDendron
										</div>
										<div class="newsletter-form">
											<form method="post" action="contactindex.html">
												<div class="form-group">
													<input type="email" name="email" value=""
														placeholder="Email address" required="">
												</div>
												<div class="form-group">
													<button type="submit"
														class="theme-btn btn-style-one">Subscribe</button>
												</div>
											</form>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
			<!--Footer Bottom-->
			<div class="footer-bottom">
				<div class="auto-container">
					<div class="row clearfix">
						<div class="column col-md-6 col-sm-12 col-xs-12">
							<div class="copyright">
								Copyrights &copy; 2020. TechDendron India Private Limited | All Rights Reserved. </div>
						</div>
						<div class="column col-md-6 col-sm-12 col-xs-12">
							<ul class="footer-nav">
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Legal Terms</a></li>
								<li><a href="#">FAQ’s</a></li>
								<li><a href="#">Support</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--End Main Footer-->

	</div>

	<script src="{%static "js/jquery.js" %}"></script>
	<!-- <script src="js/popper.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"> </script>
	<script src="{%static "js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
	<script src="{%static "js/jquery.fancybox.js" %}"></script>
	<script src="{%static "js/appear.js" %}"></script>
	<script src="{%static "js/owl.js" %}"></script>
	<script src="{%static "js/wow.js" %}"></script>
	<script src="{%static "js/slick.js" %}"></script>
	<script src="{%static "js/jquery-ui.js" %}"></script>
	<script src="{%static "js/script.js" %}"></script>

</body>
</html>
